
html {
  scroll-behavior: smooth;
  /* trial */
  /* background-color: #ffffff; */
  background-color: #a5daff;
  background-image: linear-gradient(135deg, #a5daff 0%, #E0C3FC 100%);
  

}

.second{
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: 2px;
}
h4{
  text-align: center;
  color:#808080;
  border-radius: 25px;
   
}
.outer-space{
  padding: 20px 25px;
}
.outer-box{
  border:solid 1px rgba(216,216,216,0.5);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* trial */
  background-color: white;
  
  
}
.right-align{
  
  width: 400px;
  display: block;
  float: right;
  margin-right: 200px;
  margin-top: 200px;
  margin-bottom: 50px;
}
img{
  float:left;
  display: block;
  width: 600px;
  margin-left: 50px;
  margin-top: 100px;
  height: 600px;
  border: 0;
  text-decoration: none;
  outline: none;
}

/* .exp{
  text-align: center;
  border-radius: 25px;
  border: 3px solid peachpuff;
} */
.element{
  padding: 5px;
  border-radius: 10px;
}
input{
  margin-bottom: 20px;
  width: 100%;
  height:35px;
  border: solid 1px #cacad3;
  box-shadow: grey;
  border-radius: 5px;
}
#pin{
  width:40%;
}
#date{
  width:50%;
  float:right;
}
/* #phone{
  width:;
  float:right;
} */

.fix{
  width: 100%;
  height: 10%;
  /* box-sizing: border-box; */
  /* padding: 2px 2px; */
}

/* button[type="submit"]{
  display: block;
  padding:15px;
  background-color: #7db8e3;
background-image: linear-gradient(135deg, #7db8e3 0%, #be93e7 100%);

  cursor: pointer;
  border: none;
  border-radius: 2px;
  width: 100%;
  color: white;
  font-size: 16px;
} */

button[type="submit"]{background-image: linear-gradient(to right, #7db8e3 0%, #be93e7  51%, #7db8e3  100%)}
button[type="submit"]{
   /* margin: 10px; */
   padding: 15px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   width:100%;
   border: none;
   cursor: pointer;
   
 }

 button[type="submit"]:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 } 



.button2 {
  /* display: block; */
  padding:15px;
  background-color:blue;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  width: 200px;
  color: white;
  font-size: 16px;
}
/* .front{
  position: absolute;
  z-index: 4;
  
} */
#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-position:center;
  object-fit: cover;
  /* max-width: 100%; 
  max-height: 80 vh;  */
  /* overflow:hidden; */
  /* display:flex; */
}

/* .ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
} */

.frontbutton2 {
  border-radius: 4px;
  background-color: #fd5c63;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.frontbutton2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.frontbutton2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.frontbutton2:hover span {
  padding-right: 25px;
}

.frontbutton2:hover span:after {
  opacity: 1;
  right: 0;
}

